h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  text-align: center;
}

nav {
  background-image: url("resources/images/the-flatiron-building.png");
  background-size: cover;
  background-position: center center;
  height: auto;
}

.links {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  }

  h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }

  h3 {
    font-family: Helvetica;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
  }

  p {
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
  }
